{% extends 'base.html' %}

<title>My Investment Wallet</title>

{% block content %}

<h1>All Investments</h1>

<div class="wallet-size">
<h4>Dollars Invested: {{total_amount}}</h4>
<h4>Wallet Value: {{total_value}}</h4>
</div>
<hr>
{% for asset in assets %}
<a href="{% url 'investments_detail' asset.id %}">

<div class="card">
    <div class="card-content">
        <span class="card-title">
            {{asset.type}}
        </span>
        <p>name: {{asset.name}}</p>
        <p>amount: {{asset.amount}}</p>
        <p>description: {{asset.description}}</p>
        <p>value: {{asset.value}}</p>
    </div>
</div>
</a>
{% endfor %}
{% endblock %}